body {
    background: #f6f6f6;
}
.main {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1220px;
    margin: 30px 0;
    padding: 30px 0;
    background-color: white;
}

.block {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    padding: 20px;
}
.info-block {
    margin: 0 10px;
    cursor: pointer;
}

.post-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #3D3D3D;
    box-sizing: border-box;
    font: 18px 'Open Sans', sans-serif;
    line-height: 1.8;
    background-color: #ecececb3;
}

.image-block-with-2 {
    width: 510px;
    height: 340px;
}

.image-block-with-3 {
    width: 333px;
    height: 222px;
}

.block-title {
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.block-footer {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.startup {
    color: blue;
}

.fundraising {
    color: red
}

.footer {
    height: 25px;
    padding: 45px 0;
    text-align: center;
    background-color: white;
}
.footer-text {
    color: #3D3D3D;
    font: 14px "Open Sans", sans-serif;
    line-height: 1.3;
    letter-spacing: 0.1px;
}

@media (max-width: 1279px){
    .content {
        width: 1110px;
    }
    .image-block-with-2 {
        width: 485px;
        height: 324px;
    }
    .image-block-with-3 {
        width: 317px;
        height: 211px;
    }
    .block {
        width: 1010px;
        padding: 20px 50px;
    }
    .footer {
        padding: 35px 0;
    }
}

@media (max-width: 1200px){
    .content {
        width: 930px;
    }
    .image-block-with-2 {
        width: 395px;
        height: 264px;
    }
    .image-block-with-3 {
        width: 256px;
        height: 171px;
    }
    .block {
        width: 830px;
        padding: 20px 50px;
    }
}

@media (max-width: 990px){
    .content {
        width: 690px;
    }
    .image-block-with-2 {
        width: 275px;
        height: 184px;
    }
    .image-block-with-3 {
        width: 176px;
        height: 117px;
    }
    .block {
        width: 590px;
        padding: 20px 50px;
    }
    .footer {
        padding: 30px 0;
    }
}

@media (max-width: 768px){
    .content {
        width: 630px;
    }
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 630px;
        padding: 0;
    }
    .info-block {
        width: 400px;
        padding: 20px 0;
    }
    .image-block-with-2 {
        width: 400px;
        height: 267px;
    }
    .image-block-with-3 {
        width: 400px;
        height: 267px;
    }
}
@media (max-width: 600px){
    .content {
        width: 100%;
    }
    .block {
        width: 100%;
    }
    .footer {
        padding: 25px 0;
    }
}

@media (max-width: 600px){
    .info-block {
        width: 380px;
        padding: 20px 0;
    }
    .image-block-with-2 {
        width: 380px;
        height: 240px;
    }
    .image-block-with-3 {
        width: 380px;
        height: 240px;
    }
}

@media (max-width: 460px){
    .info-block {
        width: 320px;
        padding: 20px 0;
    }
    .image-block-with-2 {
        width: 320px;
        height: 200px;
    }
    .image-block-with-3 {
        width: 320px;
        height: 200px;
    }
    .footer {
        padding: 20px 0;
    }
}
@media (max-width: 374px){
    .info-block {
        width: 270px;
        padding: 20px 0;
    }
    .image-block-with-2 {
        width: 270px;
        height: 180px;
    }
    .image-block-with-3 {
        width: 270px;
        height: 180px;
    }
    .footer {
        padding: 15px 0;
    }
}