body {
    background: #f6f6f6;
}
h1 {
    margin: 0 0 32px;
    font: 34px "Roboto", sans-serif;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: 0.1px;
}
ul {
    list-style: disc;
    font-size: 18px;
    font-family: 'system-ui', sans-serif;
    font-weight: bold;
    line-height: 1.8;
    margin: 0 0 32px;
}

ol {
    list-style: decimal;
    font-size: 18px;
    font-family: 'system-ui', sans-serif;
    line-height: 1.8;
    margin: 0 0 32px;
}

a {
    text-decoration: none;
    color: #2d93ff;
    cursor: pointer;
}
p {
    color: #3D3D3D;
    font-size: 18px;
    line-height: 1.8;
    font-family: 'system-ui', sans-serif;
    margin: 0 0 32px;
    letter-spacing: 0.7px;
}

h2 {
    color: #020202;
    font: 28px "Roboto", sans-serif;
    line-height: 1.3;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
}

.page-main {
    width: 770px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px 0;
    background-color: white;
}

.image-1 {
    width: 770px;
    height: 327px;
    margin: 0 0 32px;
}

.image {
    width: 770px;
    height: 481px;
    margin: 0 0 32px;
}

.no-bolder {
    font-weight: normal;
}

.icon {
    width: 40px;
    height: 32px;
    padding: 4px 0 4px 30px;
}
.angel-icon {
    width: 50px;
    height: 45px;
}
.angel-text {
    font-size: 18px;
    line-height: 1.8;
    display: flex;
    margin: auto 20px;
}
.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 32px;
}

.icon-twitter {
    padding: 8px 0 8px 30px;
    width: 24px;
    height: 24px;
}

.icon-linkedin {
    padding: 6px 0 10px 30px;
    width: 24px;
    height: 24px;
}

.icon-left-block {
    display: flex;
    justify-content: left;
    margin: auto 0;
}
.icon-right-block {
    display: flex;
    justify-content: right;
    margin: auto 0;
}

.slide {
    height: 550px;
    margin: 0 0 32px;
}

.footer {
    height: 25px;
    padding: 45px 0;
    text-align: center;
    background-color: white;
}
.footer-text {
    color: #3D3D3D;
    font: 14px "Open Sans", sans-serif;
    line-height: 1.3;
    letter-spacing: 0.1px;
}

@media (max-width: 990px){
    .page-main {
        width: 630px;
    }
    .image-1 {
        width: 630px;
        height: 268px;
    }
    .image {
        width: 630px;
        height: 394px;
    }
}

@media (max-width: 767px){
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    .page-main {
        width: 480px;
        padding: 15px;
    }
    .image-1 {
        width: 480px;
        height: 203px;
    }
    .image {
        width: 480px;
        height: 300px;
    }
    .slide {
        height: 300px;
    }
    p {
        font-size: 16px;
        margin: 0 0 26px;

    }
    ul {
        font-size: 16px;
        margin: 0 0 26px;
    }
    ol {
        font-size: 16px;
        margin: 0 0 26px;
    }
    .icon-right-block {
        display: flex;
        margin: 20px;
    }
    .icon {
        padding-left: 0;
    }
    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer {
        padding: 35px 0;
    }
}
@media (max-width: 540px){
    h1 {
        font-size: 26px;
        margin: 0 0 20px;
    }
    h2 {
        font-size: 22px;
        margin: 0 0 20px;
    }
    .page-main {
        width: 450px;
        padding: 20px;
    }
    .image-1 {
        width: 450px;
        height: 180px;
        margin: 0 0 20px;
    }
    .image {
        width: 450px;
        height: 270px;
        margin: 0 0 20px;
    }
    .slide {
        height: 270px;
    }
    p {
        font-size: 14px;
        margin: 0 0 20px;

    }
    ul {
        font-size: 14px;
        margin: 0 0 20px;

    }
    ol {
        font-size: 14px;
        margin: 0 0 20px;

    }
    .footer {
        padding: 30px 0;
    }
}
@media (max-width: 500px){
    h1 {
        font-size: 24px;
        margin: 0 0 18px;
    }
    h2 {
        font-size: 20px;
        margin: 0 0 18px;
    }
    .page-main {
        width: 400px;
        padding: 20px;
    }
    .image-1 {
        width: 400px;
        height: 180px;
        margin: 0 0 18px;
    }
    .image {
        width: 400px;
        height: 250px;
        margin: 0 0 18px;
    }
    .slide {
        height: 250px;
    }
    p {
        font-size: 12px;
        margin: 0 0 18px;

    }
    ul {
        font-size: 12px;
        margin: 0 0 18px;

    }
    ol {
        font-size: 12px;
        margin: 0 0 18px;

    }
    .footer {
        padding: 25px 0;
    }
}
@media (max-width: 450px){
    h1 {
        font-size: 22px;
        margin: 0 0 15px;
    }
    h2 {
        font-size: 18px;
        margin: 0 0 15px;
    }
    .page-main {
        width: 280px;
        padding: 20px;
    }
    .image-1 {
        width: 280px;
        height: 160px;
        margin: 0 0 15px;
    }
    .image {
        width: 280px;
        height: 160px;
        margin: 0 0 15px;
    }
    .slide {
        height: 160px;
    }
    .footer {
        padding: 20px 0;
    }
}
